# Ignore Python bytecode and cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
*.ipynb_checkpoints

# Ignore macOS system files
.DS_Store

# Ignore virtual environment folder
venv/
